<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="registerUser()">
          <ion-item>
            <ion-label position="floating">ID Estudiante</ion-label>
            <ion-input type="number" [(ngModel)]="user.id_estudiante" name="id_estudiante" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="user.nombre" name="nombre" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="user.apellido" name="apellido" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Carrera</ion-label>
            <ion-input type="text" [(ngModel)]="user.carrera" name="carrera"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input type="text" [(ngModel)]="user.direccion" name="direccion"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Semestre</ion-label>
            <ion-input type="text" [(ngModel)]="user.semestre" name="semestre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Foto de Perfil URL</ion-label>
            <ion-input type="url" [(ngModel)]="user.foto_perfil_url" name="foto_perfil_url"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Datos Biométricos (URL)</ion-label>
            <ion-input type="url" [(ngModel)]="user.datos_biometricos" name="datos_biometricos"></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit">Registrar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
