/* Asegura que el contenedor se centre verticalmente en la pantalla */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.logo-container {
  margin-bottom: 20px; /* Espacio entre el logo y el formulario */
}

.logo-container img {
  width: 150px;
  height: 150px;
}

ion-content {
  --background: transparent; /* O el color que desees */
}
